# Dependencias 
/node_modules

# Archivos de compilación y producción
/dist
/tmp
/out-tsc
/bazel-out

# Caché interno de Angular
/.angular

# Archivos de entorno y secretos
.env
.env.*

# Configuración de editores (VS Code, WebStorm, etc.)
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Archivos del sistema operativo
.DS_Store
Thumbs.db